@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.btn{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 12px 16px;
    color: #FFFFFF;
    background: linear-gradient(35deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}


/* Main Style */
header{
    background-color: rgba(26, 11, 46, 1);
}

header .nav{
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* max-width: 1200px; */
    height: 90px;
}

.nav .hamburger{
    display: none;
}

.nav .menu{
    display: flex;
    gap: 32px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.2;
}


@media screen and (max-width: 576px){
    .nav{
        gap: 50px;
    }

    .nav .hamburger{
        display: block;
        cursor: pointer;
    }
    
    .nav .logo img{
        width: 135px;
        height: 20px;
    }

    .nav .menu{
        display: none;
    }
    .nav .btn{
        display: none;
    }
}